@model HMS.Model.ViewModel.AccountViewModel

@{
    Layout = null;
}
<html lang="en">


<!-- Mirrored from html.codedthemes.com/datta-able/bootstrap/side-image/auth-signin-v3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Mar 2019 12:58:12 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->
<head>
    <title>DR'S PAD</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="CodedThemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="http://html.codedthemes.com/datta-able/bootstrap/assets/images/favicon.ico" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome/css/fontawesome-all.min.css">
    <!-- animation css -->
    <link rel="stylesheet" href="../assets/plugins/animation/css/animate.min.css">
    <!-- vendor css -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/layouts/dark.css">
    
    <link rel="stylesheet" href="../assets/plugins/pnotify/css/pnotify.custom.min.css">
    <!-- pnotify-custom css -->
    <link rel="stylesheet" href="../assets/css/pages/pnotify.css">
</head>

<body>
    <div class="auth-wrapper aut-bg-img" style="background-image: url('../assets/images/bg-images/bg4.jpg');">
        <div class="auth-content">
            <div class="text-white">
                <div class="card-body text-center">
                    @using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
                { 
                    @Html.AntiForgeryToken()
                    <form method="post">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="mb-4">
                            <i class="feather icon-unlock auth-icon"></i>
                        </div>
                        <h3 class="mb-4 text-white">DR'S PAD LOGIN</h3>
                        @*<div class="input-group mb-3">
                            @Html.TextBoxFor(model => model.objLoginViewModel.Companycode, new { @class = "form-control", placeholder = "Company Code", required = "" })

                        </div>*@
                        <div class="input-group mb-3">
                            @Html.TextBoxFor(model => model.objLoginViewModel.Username, new { @class = "form-control", placeholder = "Username", required = "" })
                        </div>
                        <div class="input-group mb-4">
                            @Html.PasswordFor(model => model.objLoginViewModel.Password, new { @class = "form-control", placeholder = "password", required = "" })
                        </div>
                        <div class="form-group text-left">
                            <div class="checkbox checkbox-fill d-inline">
                                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                                <label for="checkbox-fill-a1" class="cr">Save credentials</label>
                            </div>
                        </div>
                        <button class="btn btn-primary shadow-2 mb-4">Login</button>
                        <p class="mb-2 text-muted">Forgot password? <a class="text-white" href="reset">Reset</a></p>
                        <p class="mb-0 text-muted">Don’t have an account? <a class="text-white" href="signup">Signup</a></p>
                    </form>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
    <script src="../assets/js/vendor-all.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/pcoded.min.js"></script>
    <script src="../assets/plugins/pnotify/js/pnotify.custom.min.js"></script>
    <script src="../assets/plugins/pnotify/js/notify-event.js"></script>
    <script>
        $(document).ready(function (e) {
            debugger;
            myfunction('@TempData["ErrorMessage"]');
            function myfunction(e) {
                if (e != '') {
                    new PNotify({
                        title: '',
                        text: e,
                        type: 'info'
                    });
                }

            }



        });
    </script>
</body>

<!-- Mirrored from html.codedthemes.com/datta-able/bootstrap/side-image/auth-signin-v3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Mar 2019 12:58:12 GMT -->
</html>

